*, *::before, *::after {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li {
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img {
    display: block;
    width: 50%;
    margin: auto;
}

.ingredients {
    width: 50%;
    background-color: lemonchiffon;
    border: 3px dotted orangered;
    padding: 10% auto;
    margin: 0 auto;
    
}

.steps {
    width: 50%;
    background-color: blanchedalmond;
    border: 4px double skyblue;
    padding: 20% auto;
    margin: 0 auto;
}

.recipe {
    width: 50%;
    background-color: rgb(255, 241, 159);
    border: 8px double firebrick;
    margin: 0 auto;
    list-style-type: none;
}

h2, h3 {
    text-align: center;
}

h4 {
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

button {
    background-color: lightgreen;
}

button:hover {
    background-color: aqua;
}

#gado:hover, #babi:hover, #pizza:hover {
    background-color: violet;
}

a {
    text-decoration: none;
    color: black;
}